.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  display: block;
  width: 50vmin;
  margin-bottom: 1rem;
}

.Copy-Link {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
